#cy {
    width: 70%;
    height: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-right-style: solid;
    border-right-width: 5px;
    border-right-color: black
}

#sidebar {
    height: 100%;
    width: 25%;
    position: absolute;
    right: 0px;
    padding: 2.5%;;
}